[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
isort = "*"
gunicorn = "*"
nltk = "*"
textblob = "*"
transformers = "*"
spacy = "*"
pillow = "*"
django-debug-toolbar = "*"
python-docx = "*"
jwt = "*"
attrs = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
celery = "*"
pika = "*"
drf-yasg = "*"
pypdf2 = "*"
django-cors-headers = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.10"
