amqp==5.3.1
attrs==25.3.0
celery==5.4.0
chardet==5.2.0
Django==5.1.7
django-cors-headers==4.7.0
django-debug-toolbar==5.1.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
kombu==5.5.1
langcodes==3.5.0
language_data==1.3.0
language_tool_python==2.9.0
nltk==3.9.1
numpy==2.2.4
pika==1.3.2
pillow==11.1.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
regex==2024.11.6
requests==2.32.3
spacy==3.8.4
