Django==5.1.7
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
celery==5.4.0
kombu==5.5.1
pycryptodome==3.22.0
PyJWT==2.9.0
python-docx==1.1.2
python-dotenv==1.0.1
PyPDF2==3.0.1
nltk==3.9.1
six
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
language_tool_python==2.9.0
textract
requests==2.32.3
Pillow==11.1.0
tqdm==4.67.1
transformers==4.50.1
tokenizers==0.21.1
